footer.footer
    .footer_logo
        img(src='/img/logo-green.png' alt='Natours logo')
    ul.footer_nav
        li: a(href='#') About Us
        li: a(href='#') Download Apps
        li: a(href='#') Become a Guide
        li: a(href='#') Careers
        li: a(href='#') Contacts
    p.footer_copyright &copy; by Yash Kothekar. Feel free to use this course for your own purposes except creating your own tutorials   